<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/home.css">
  <title>Book Wishlist</title>
</head>
<body>
 
  <main>
    <heading>
      <h1>Book Wishlist</h1>
    </heading>

    <form action="summary" method="post" id="bookForm">
      <fieldset>
        <legend>Enter Book Title:</legend>
        <label>
          <input type="text" id="title" name="title"> 
        </label>
      </fieldset>

      <fieldset>
        <legend>Enter Comments:</legend>
          <textarea  id="comments" name="comments" rows="4"> </textarea>
      </fieldset>

      <fieldset>
        <legend>Select a Rating:</legend>
          <select id=rating" name="rating">
            <option value="1"> 1 Star</option> </label>
            <option value="2"> 2 Stars</option> </label>
            <option value="3"> 3 Stars</option> </label>
            <option value="4"> 4 Stars</option> </label>
            <option value="4"> 5 Stars</option> </label>
          </select> 
        </label>
      </fieldset>

      <button type="submit">Submit</button>




    </form>
  </main>
  
</body>
</html>