<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/summary.css">
  <title>Summary</title>
</head>
<body>
  <main>
    <heading>
      <h1>Book Wishlist Summary</h1>
      <hr id="headingHr">
    </heading>

    <% for( let i=0; i<bookList.length; i++)
      { %>
        <p><b>Book Title: </b> <%=bookList[i].title %></p>
        <p><b>Comments: </b> <%=bookList[i].comments %></p>
        <p><b>Rating: </b> <%=bookList[i].rating %> stars</p>
        <hr>

      <% }
      %>
      <form action="/" method="get">
        <button type="submit">Add another Book</button>
      </form>
  </main>
</body>
</html>